*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    flex: 1;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

a:hover{
    text-decoration: underline;
}

.left, .right{
    display: flex;
    gap: 20px;
    align-items: center;
}

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 50%;
    border: 2px solid gray;
    color: white;
}

.content{
    display: flex;
    flex: 1;
    height: 77.8vh;
    flex-direction: column;
    align-items: center;
    
}
.search{
    display: flex;
    box-shadow: 1px 1px 2px;
    width: 45%;
    padding: 10px 5px;
    border-radius: 20px;
    align-items: center;
    border: 1px solid gray;
}

input{
    flex: 1;
    border: 0;
    outline: 0;
    padding: 0 5px;
    font-size: 18px;
}

.search-icon{
    width: 25px;
    height: 25px;
    padding: 0 5px 0 10px;
}

.btns{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

button{
    border: 0;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

button:hover{
    outline: 1px solid gray;
}

.links{
    display: flex;
    gap: 5px;
    font-size: 13px;
    margin-top: 30px;
}

.links a{
    color: blue;
    font-size: 13px;
}

.footer1{
    display: flex;
    flex: 1;
    height: 45px;
    background-color: #f2f2f2;
    align-items: center;
    padding: 0 2%;
    border-bottom: 0.3px solid gray;
}

.footer1>p{
    font-size: 14px;
}

.footer2{
    display: flex;
    flex: 1;
    height: 45px;
    background-color: #f2f2f2;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}