*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.main{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #F9FAFB;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95.6%;
    height: 75px;
    padding: 0 2%;
    margin: 1.5% 2.7%;
    border-radius: 10px;
    background-color: white;
    position: absolute;
}

.header .logo img{
    width: 110px;
}

.header a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #374151;
}

.header .account a{
    color: #535c91;
}

.header .account a:hover{
    color: #414A78;
}

.header .account button{
    padding: 10px 5px;
    background-color: #535c91;
    color: white;
    font-size: 17px;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

.header .account button:hover{
    background-color: #414A78;
}

.header .links, .account{
    display: flex;
    align-items: center;
    gap: 25px;
}

.header .links a:hover{
    color: #535C91;
}

.content{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.banner-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 6% 2.5%;
}

.banner {
    display: flex;
    width: 100%;
    height: 1000px;
    padding: 5%;
    background: linear-gradient( 90deg, black , #232C3A);
}

.banner-heading h1{
    font-weight: 700;
    font-size: 48px;
    color: white;
    padding: 90px 0 25px 0;
    -webkit-text-stroke: 1px white;
    line-height: 53px;
    letter-spacing: 2px;
}

.banner-heading h1 span{
    color: #FFD166;
    -webkit-text-stroke: 1px #FFD166;
}

.banner-des p{
    color: #e5e7eb;
    font-size: 20px;
    font-weight: 500;
    padding: 0 0 10px 0;
}

.banner-details p,
.banner-details ul li{
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
}

.banner-details p strong span{
    color: #FFD166;
    display: inline-block;
    padding-top: 10px;
    
}

.banner-details ul li {
    margin: 4px 0 0 25px;
}

.warranty-card{
    display: flex;
    width: 590px;
    gap: 30px;
    margin-top: 25px;
    
}

.warranty-time, .warranty-services{
    flex: 1;
    height: 100px;
    background-color: #272b33;
    border-radius: 15px;
}

.warranty-time,
.warranty-services{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px 10px 40px;
    color: white;
}

.warranty-time .tolls,
.warranty-services .tolls{
    font-size: 20px;
    color: #272b33;
    background-color: #ffbb50;
    padding: 15px 13px;
    border-radius: 10px;
}

.warranty-time-txt{
    line-height: 14px;
}

.warranty-time-txt p{
    color: white;
    padding-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
}

.warranty-time-txt span{
    font-size: 12px;
    color: #f9b74f;
}

.quick-btn{
    display: flex;
    width: 590px;
    gap: 30px;
    margin-top: 70px;
}

.quick-services, .quick-call{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 70px;
    border: 2px solid #575b61;
    border-radius: 15px;
}

.quick-services{
    background-color: #647acb;
}

.quick-services a,
.quick-call a{
    display: flex;
    gap: 15px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.banner-formbox{
    width: 480px;
    height: 880px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.formbox-heading{
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: #535c91;
    padding: 15px 20px;
}

.formbox-heading p{
    font-size: 20px;
    font-weight: 700;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 30px;
    
}

form .input-box{
    display: flex;
    width: 100%; /* parent full width lega */
    gap: 20px;
    
}

.input-box .box{
    display: flex;
    flex: 1; /* equal space divide karega */
    flex-direction: column;
    
}

.input-box .box input{
    width: 100%; /* input apne parent box ki width le */
    padding: 8px 16px;
    font-size: 15.1px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.input-box .box input::placeholder{
    color: #A3A9B5;
}

.input-box .box label{
    color: #374151;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 10px;
}

.services{
    display: flex;
    width: 100%;
    gap: 20px;
}

.services .box{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.services .box label{
    color: #374151;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 5px;
}

.services .box select{
    width: 100%;
    padding: 8px 16px;
    font-size: 15.1px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.address .box label,
.issue .box label{
    color: #374151;
    font-size: 13px;
    font-weight: 600;
}

.address .box textarea,
.issue .box textarea{
    width: 100%;
    padding: 8px 16px;
    font-size: 15.1px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 5px;
}

.address .box textarea::placeholder{
    color: #A3A9B5;
}

.landmark{
    display: flex;
    width: 100%;
    gap: 20px;
}

.landmark .box{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.landmark .box label{
    color: #374151;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 5px;
}

.landmark .box input{
    width: 100%;
    padding: 8px 16px;
    font-size: 15.1px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.input-box .box select{
    width: 100%;
    padding: 8px 16px;
    font-size: 15.1px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

form .btn{
    display: flex;
    justify-content: center;
}

form .btn a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 115px;
    border-radius: 10px;
    color: white;
    background-color: #535c91;
}

.banner-formbox h6{
    text-align: center;
    color: #6B7280;
    font-size: 12px;
    font-weight: 400;
}