h1{
    color: rgb(187, 0, 255);
    font-size: 80px;
    text-align: center;
    font-family: serif;
    font-weight: 900;
    text-decoration: underline;
    font-style: italic;
    letter-spacing: 3px;
}

h2{
    color: blue;
    font-size: 60px;
    text-align: center;
    font-family: "Pacifico", cursive;
    text-shadow: 5px 8px 1px rgb(226, 211, 2);
    word-spacing: 5px;
}

/* span{
    color: red;
} */

p{
    font-family: "Playwrite CU", cursive;
    text-align: justify;
    line-height: 80px;
    text-indent: 100px;
    
}

a{
    text-decoration: none;
    font-size: 60px;
    word-spacing: 10px;
}