/* #region Poppins Fonts */


@font-face {
    font-family: 'Poppins Regular';
    src: local('Poppins Regular'), url('Fonts/Poppins-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Italic';
    src: local('Poppins Italic'), url('Fonts/Poppins-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Thin';
    src: local('Poppins Thin'), url('Fonts/Poppins-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Thin Italic';
    src: local('Poppins Thin Italic'), url('Fonts/Poppins-ThinItalic.woff') format('woff');
}

@font-face {
    font-family: 'Poppins ExtraLight';
    src: local('Poppins ExtraLight'), url('Fonts/Poppins-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Poppins ExtraLight Italic';
    src: local('Poppins ExtraLight Italic'), url('Fonts/Poppins-ExtraLightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Light';
    src: local('Poppins Light'), url('Fonts/Poppins-Light.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Light Italic';
    src: local('Poppins Light Italic'), url('Fonts/Poppins-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Medium';
    src: local('Poppins Medium'), url('Fonts/Poppins-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Medium Italic';
    src: local('Poppins Medium Italic'), url('Fonts/Poppins-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: local('Poppins SemiBold'), url('Fonts/Poppins-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins SemiBold Italic';
    src: local('Poppins SemiBold Italic'), url('Fonts/Poppins-SemiBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Bold';
    src: local('Poppins Bold'), url('Fonts/Poppins-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Bold Italic';
    src: local('Poppins Bold Italic'), url('Fonts/Poppins-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Poppins ExtraBold';
    src: local('Poppins ExtraBold'), url('Fonts/Poppins-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins ExtraBold Italic';
    src: local('Poppins ExtraBold Italic'), url('Fonts/Poppins-ExtraBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Black';
    src: local('Poppins Black'), url('Fonts/Poppins-Black.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Black Italic';
    src: local('Poppins Black Italic'), url('Fonts/Poppins-BlackItalic.woff') format('woff');
}

/* #endregion */