*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Instrument Sans',sans-serif;
}

header{
    position: relative;
}

nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9%;
    width: 100%;
    height: 65px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0, 0.06);
}

.left .logo img{
    width: 215px;
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right a{
    display: flex;
    align-items: center;
    gap: 3px;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 16px;
    background-color: #EA580C;
    color: white;
    border-radius: 8px;

}

.right a svg{
    width: 17px;
}

.right a span{
    display: flex;
}

.right .login{
    background-color: blue;
}

.content{

}

.find-doctor{
    display: flex;
    gap: 40px;
    padding: 40px 80px 60px 80px;
    width: 100%;
    height: 520px;
    /* background: linear-gradient(210deg, #D1E3F5, white, white, #D1E3F5); */
    background: linear-gradient(to bottom right, #EAF3FA, white, white, #D1E3F5);

}

.find-nearby-doctor, .doctor-card{
    width: 100%;
    height: 410px;
}

.find-nearby-doctor{

}

.heading h1{
    font-size: 65px;
    font-weight: 600;
}

.heading span{
    font-size: 60px;
    font-weight: 600;
    color: #0d4b8c;
    line-height: 60px;
    letter-spacing: 2px;
}

.heading p{
    font-size: 20px;
    font-weight: 400;
    color: #374151;
    margin: 10px 0;
}

.form{
    display: flex;
    width: 590px;
    height: 220px;
    background-color: white;
    margin-top: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    border: 1px solid rgba(235, 235, 235, 0.776);
}

form{
    
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 20px;
}

.input-box{
    display: flex;
    gap: 25px;
}

.box{
    display: flex;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.box span{
    display: flex;
    color: #9CA3AF;
    width: 20px;
    margin-left: 15px;

}

.box select{
    display: flex;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 15px 90px 15px 0px;
}

.input-box .box:hover{
    outline: 3px solid blue;
}

.search{
    display: flex;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 0 10px;
}

.search svg{
    width: 20px;
    color: gray;
}

.search span{
    display: flex;
}

.search input{
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    padding: 18px 10px;
    border: 0;
    outline: 0;
}

.search:hover{
    outline: 3px solid blue;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn a{
    text-decoration: none;
    background-color: #f97316;
    color: white;
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-radius: 8px;
}

.btn a:hover{
    background-color: #073976;
}

.doctor-card{
    background-color: #CCE0F4;
    border-radius: 30px;
    padding: 35px;
    position: relative;
}

.profile-card{
    width: 100%;
    height: 100%;
    padding: 20px 25px;
    background-color: white;
    border-radius: 20px;
}

.left .photo{
    display: flex;
    align-items: center;
    /* gap: 15px; */
}

.left .photo img{
    width: 60px;
    border-radius: 50%;
}

.photo .dr-name{
    line-height: 20px;
}

.photo .dr-name p{
    font-size: 16px;
    font-weight: 600;
}

.photo .dr-name span{
    font-size: 14px;
    font-weight: 500;
    color: #0d4b8c;
}

.profile-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.profile-info .right{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-info .right svg{
    width: 15px;
}

.profile-info .right p{
    font-size: 12px;
    font-weight: 500;
    
}

.booking p{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px;
}

.consultation-fee{
    width: 100%;
    height: 60px;
    background-color: #E6F0F9;
    border-radius: 8px;
    padding: 15px 14px;
    line-height: 9px;
    border: 1px solid #368eeda5;
}

.consultation-fee p{
    font-size: 14px;
    font-weight: 500;
    color: #042c61;
}

.consultation-fee span{
    font-size: 12px;
    color: #0d4b8c;
}

.experience-year{
    display: flex;
    gap: 10px;
    padding: 13px 0;
}

.experience, .appt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 8px;
    width: 100%;
    height: 65px;
    background-color: #F9FAFB;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.experience p,
.appt p{
    font-size: 14px;
    font-weight: 500;
    color: #111827;
}

.experience span,
.appt span{
    font-size: 12px;
    color: #374151;
}

.booking a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    background-color: #0d4b8c;
    padding: 14px;
    border-radius: 8px;
}

.booking a:hover{
    background-color: #073976;
}

.doctor-card .arrow-left,
.doctor-card .arrow-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #a7c9eb;
    position: absolute;
}

.doctor-card .arrow-left svg,
.doctor-card .arrow-right svg{
    width: 25px;
}

.doctor-card .arrow-left{
    top: 195px;
    left: -15px;
}

.doctor-card .arrow-right{
    top: 195px;
    right: -15px;
}

.specialties{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 357px;
    padding: 30px;
    background-color: #e6f0f9;
}

.specialties-heading,
.works-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    padding-bottom: 15px;

}

.specialties-heading p,
.works-heading p{
    font-size: 24px;
    font-weight: 600;
    color: #042c61;
}

.specialties-heading span,
.works-heading span{
    font-size: 14px;
    color: #4b5563;
}

.specialties-info{
    display: flex;
    width: 100%;
    gap: 20px;
}

.specialties-info .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 120px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #99c1e9;
    color: #042c61;
    font-weight: 16px;
    font-weight: 600;
}

.box .med-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0d4b8c;
    font-size: 20px;
    font-weight: 700;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #0d4b8c;
}

.specialties a{
    display: flex;
    gap: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 12px 24px;
    background-color: #0d4b8c;
    border-radius: 8px;
    margin-top: 55px;

}

.specialties a:hover{
    background-color: #073976;
}

.specialties a span{
    display: flex;
    width: 20px;
}

.top-specialists{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 630px;
    background-color: white;
    padding: 30px;
}

.top-specialists-heading{
    text-align: center;
    line-height: 30px;
}

.top-specialists-heading p{
    font-size: 24px;
    font-weight: 600;
    color: #042c61;
}

.top-specialists-heading span{
    font-size: 14px;
    color: #4b5563;
}

.top-specialists-dr{
    display: flex;
    gap: 25px;
    width: 100%;
    padding: 15px 20px;
}

.specialists-dr-card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 436px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #99c1e9;
}

.dr-photo{
    width: 265px;
    height: 177px;
    overflow: hidden;
}

.dr-photo img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.dr-photo img:hover{
    transform: scale(1.04);
}

.dr-photo .info-rating{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 160px;
    left: 20px;
}

.dr-photo .info-rating p{
    font-size: 12px;
    color: white;
    padding: 4px 8px;
    background-color: #0d4b8ce6;
    border-radius: 8px;
}

.dr-photo .info-rating span{
    font-size: 12px;
    color: white;
    margin-left: 130px;
}

.dr-name{
    padding: 15px 0 0 20px;
    line-height: 33px;
}

.dr-name h3{
    font-size: 18px;
    font-weight: 600;
    color: #042c61;
}

.degree, .place{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #374151;
}

.degree span svg,
.place span svg{
    width: 20px;
    
}

.degree span,
.place span{
    display: flex;
}

.dr-fees{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #042c61;
}

.dr-fees span svg{
    width: 25px;
    color: #f59f0d;
}

.dr-fees span{
    display: flex;
}

.dr-fees small{
    font-size: 12px;
    font-weight: 400;
    color: #6b7280;
    margin-left: 35px;
}

.book-btn{
    display: flex;
    padding: 20px 0;
    gap: 10px;
}

.book-btn a{
    text-decoration: none;
    color: #0d4b8c;
    font-size: 14px;
    padding: 1px 20px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #0d4b8c;
}

.book-btn a:hover{
    background-color: #E6F0F9;
}

.book-btn .book-now{
    color: white;
    background-color: #0d4b8c;
}

.book-btn .book-now:hover{
    background-color: #073976;
}

.top-specialists .explore-btn{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.explore-btn a{
    display: flex;
    gap: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 12px 24px;
    background-color: #0d4b8c;
    border-radius: 8px;
}

.explore-btn a:hover{
    background-color: #073976;
}

.explore-btn a span{
    display: flex;
    width: 20px;
}

.works{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 518px;
    padding: 30px;
    background-color: #e6f0f9;
    margin-top: 20px;
}

.works-map{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 43px;
    margin-top: 25px;
}

.works-map-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 314px;
    height: 277px;
    background-color: white;
    border: 1px solid #99c1e9;
    border-radius: 10px;
    padding: 0 20px;
}

.works-map-box .step-1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: 600;
    width: 50px;
    height: 50px;
    background-color: #0d4b8c;
    border-radius: 50%;
    position: absolute;
    top: -20px;
}

.works-map-box .svg-img span svg{
    width: 100px;
}

.doctor-svg svg{
    width: 130px !important;
}

.works-map-box .orange{
    background-color: #f59e0b;
}

.short-info{
    text-align: center;
    line-height: 21px;
}

.short-info p{
    font-size: 20px;
    font-weight: 600;
    color: #00264d;
    padding: 15px 0;
}

.short-info span{
    font-size: 16px;
    font-weight: 400;
    color: #4b5563;
}

.works .find-dr-btn{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.find-dr-btn a{
    display: flex;
    gap: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 12px 24px;
    background-color: #0d4b8c;
    border-radius: 8px;
}

.find-dr-btn a:hover{
    background-color: #073976;
}

.find-dr-btn a span{
    display: flex;
    width: 20px;
}