*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f2f4f7;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.heading{
    display: flex;
    flex-direction: column;
    padding-right: 80px;
    padding-bottom: 80px;
    justify-content: center;
}

h1{
    font-size: 55px;
    font-family: "Poppins";
    color: #0866ff;
}

.heading>p{
    font-size: 30px;
}

.card{
    width: 350px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(118, 118, 118, 0.411);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px;
    gap: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.box{
    display: flex;
    justify-content: center;
}

.box>input{
    padding: 15px 10px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #dddfe2;
    outline-color: #0866ff;
    font-size: 18px;
}

.box>button{
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 8px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    background-color: #0866ff;
    cursor: pointer;
}

.footer1>a{
    text-decoration: none;
    color: #0866ff;
    font-size: 14px;
}

.footer1>a:hover{
    text-decoration: underline;
}

hr{
    width: 310px;
    color: gray;
}

.footer2>button{
    padding: 12px 15px;
    background-color: #42b72a;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.footer{
    display: flex;
    gap: 5px;
    padding-top: 50px;
    font-size: 15px;
}

.footer>a{
    text-decoration: none;
    color: black;
}

.footer>a:hover{
    text-decoration: underline;
}